@model GroupManager.Models.EventViewModels.EventViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Description
        </dt>
        <dd>
            <pre class="text-info">@Model.Text</pre>
        </dd>
        <dt>
            Time
        </dt>
        <dd>
            @Model.Time
        </dd>
    </dl>
</div>
<h4>My status: @Model.CurrentUserStatus</h4>
<hr />
<h5>Change status</h5>
<a asp-action="SetStatus" asp-route-eventId="@Model.Id" asp-route-status="ATTENDING">Attending</a> |
<a asp-action="SetStatus" asp-route-eventId="@Model.Id" asp-route-status="NOT_ATTENDING">Not Attending</a> |
<a asp-action="SetStatus" asp-route-eventId="@Model.Id" asp-route-status="INVITED">Invited</a>
<hr />
<h3>Users attending:</h3>
@if (Model.UsersAttending == null || Model.UsersAttending.Count == 0)
{
    <h4 align="center">No one is attending this event</h4>
}
else
{
    <table>
        @foreach (var user in Model.UsersAttending)
        {
            <tr>
                <td>
                    <a asp-controller="User" asp-action="Details" asp-route-userId="@user.Id">
                        @if (!string.IsNullOrEmpty(user.Nick))
                        {
                            <div align="center"><abbr title="@user.Name @user.Surname">@user.Nick</abbr></div>
                        }
                        else if (!string.IsNullOrEmpty(user.Name) || !string.IsNullOrEmpty(user.Surname))
                        {
                            <div align="center">@user.Name @user.Surname</div>
                        }
                        else
                        {
                            <div align="center">@user.Email</div>
                        }
                    </a>
                </td>
            </tr>
        }
    </table>
}

<h3>Users not attending:</h3>
@if (Model.UsersNotAttending == null || Model.UsersNotAttending.Count == 0)
{
    <h4 align="center">---</h4>
}
else
{
    <table>
        @foreach (var user in Model.UsersNotAttending)
        {
            <tr>
                <td>
                    <a asp-controller="User" asp-action="Details" asp-route-userId="@user.Id">
                        @if (!string.IsNullOrEmpty(user.Nick))
                        {
                            <div align="center"><abbr title="@user.Name @user.Surname">@user.Nick</abbr></div>
                        }
                        else if (!string.IsNullOrEmpty(user.Name) || !string.IsNullOrEmpty(user.Surname))
                        {
                            <div align="center">@user.Name @user.Surname</div>
                        }
                        else
                        {
                            <div align="center">@user.Email</div>
                        }
                    </a>
                </td>
            </tr>
        }
    </table>
}

<h3>Users invited:</h3>
@if (Model.UsersInvited == null || Model.UsersInvited.Count == 0)
{
    <h4 align="center">---</h4>
}
else
{
    <table>
        @foreach (var user in Model.UsersInvited)
        {
            <tr>
                <td>
                    <a asp-controller="User" asp-action="Details" asp-route-userId="@user.Id">
                        @if (!string.IsNullOrEmpty(user.Nick))
                        {
                            <div align="center"><abbr title="@user.Name @user.Surname">@user.Nick</abbr></div>
                        }
                        else if (!string.IsNullOrEmpty(user.Name) || !string.IsNullOrEmpty(user.Surname))
                        {
                            <div align="center">@user.Name @user.Surname</div>
                        }
                        else
                        {
                            <div align="center">@user.Email</div>
                        }
                    </a>
                </td>
            </tr>
        }
    </table>
}
<hr />
<h3>Posts:</h3>
<a asp-action="AddPost" asp-route-eventId="@Model.Id">Add post</a>
@foreach (var post in Model.Posts)
{
    @Html.Partial("PostPartial", post);
    <div>
        <a asp-controller="Post" asp-action="EditPost" asp-route-postId="@post.Id">Edit</a> |
        <a asp-controller="Post" asp-action="Index" asp-route-postId="@post.Id">Show comments</a>
    </div>
}
@if (Model.Posts == null || Model.Posts.Count == 0)
{
    <h4 align="center">No posts available</h4>
}
<hr />
<div>
    @Html.ActionLink("Edit", "Edit", new { eventId = Model.Id }) |
    <a asp-action="List">Back to List</a>
</div>
