@model GroupManager.Models.EventViewModels.EventListViewModel

@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>

<p>
    <a asp-action="Add">Create New Event</a> |
    <a asp-controller="Group" asp-action="Index">Back</a>
</p>
@if (Model.Events == null || Model.Events.Count == 0)
{
    <h3 align="center">Your group has no events</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Time
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { eventId = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { eventId = item.Id }) |
                        <a asp-action="Delete" asp-route-eventId="@item.Id" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}