@model GroupManager.Models.GroupViewModels.CommentViewModel
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">@Html.DisplayFor(model => model.User)</div>
        <div class="panel-body"><pre class="display-field">@Html.DisplayFor(model => model.Text)</pre></div>
        <div class="panel-footer" align="right">
            Posted on @Html.DisplayFor(model => model.TimePosted)
            @if (Model.TimeModified.HasValue)
            {
                <span>,Modified:</span>
                @Html.DisplayFor(model => model.TimeModified.Value);
            }
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ })
        </div>
    </div>
</div>