@model GroupManager.Models.GroupViewModels.IndexPostViewModel
<div>
    <h3>
        @Html.DisplayFor(model => model.Title)
    </h3>
    <p>
        <pre class="text-info">@Html.DisplayFor(model => model.Text)</pre>
    </p>
    <div align="right">
        User: @Html.DisplayFor(model => model.User)
    </div>
    <div align="right">
        Posted On: @Html.DisplayFor(model => model.TimePosted)
    </div>
    @if (Model.TimeModified.HasValue)
    {
        <div align="right">
            Modified: @Html.DisplayFor(model => model.TimeModified.Value)
        </div>
    }
</div>
