@model GroupManager.Models.GroupViewModels.HomeGroupViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (!Model.AnyActive)
{
    <a asp-controller="Group" asp-action="Index">Select your active group</a>
}
else
{
    <h1>@Model.Name</h1>
    <a asp-controller="Post" asp-action="AddPost">Add new post</a>
    @foreach (var post in Model.Posts)
    {
        <div class="panel panel-info">
            @if (!string.IsNullOrEmpty(post.Event))
            {
                <div class="panel-heading">Posted in event: @post.Event</div>
            }
            <div class="panel-body">
                @Html.Partial("PostPartial", post)
            </div>
            <div class="panel-footer">
                @if (post.CurrentUserCanEdit)
                {
                <span><a asp-controller="Post" asp-action="EditPost" asp-route-postId="@post.Id">Edit</a> | </span>
                }
                <a asp-controller="Post" asp-action="Index" asp-route-postId="@post.Id">Show comments</a>
            </div>
        </div>
    }
    @if (Model.Posts == null)
    {
        <span>No posts available</span>
    }
}
