@model GroupManager.Models.UserViewModels.UserViewModel

@{
    ViewData["Title"] = "User Details";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nick)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nick)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PictureURI)
        </dt>
        <dd>
            <img class="img-thumbnail" src="@Model.PictureURI"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="List">Back to List</a>
</div>
